
.container-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.projects-tittle{
    margin: 15px;
}
.grid-projects{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-items: center;
}
.project-card{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid #ccc;
    margin: 10px; 
    padding: 10px;
    width: 350px;
}
.project-card img{
    width: 100%;
}
.project-description{
    margin-top: 1rem;
    text-align: justify;
}
.project-tools{
    margin: 1rem 0rem 1rem 0rem;
}

@media (max-width: 1560px) {
    .grid-projects{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1200px) {
    .grid-projects{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 760px) {
    .grid-projects{
        grid-template-columns: repeat(1, 1fr);
    }
}