/*HOME*/
.container-home{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;    
    align-items: stretch;
    align-content: space-around;
    margin: 4rem 10rem;
}
.container-home p {
    margin: 1rem  ;
    font-size: 1.8rem;
    text-align: justify;
}
.container-photo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container-photo  img{        
        width: 150px;
        margin-top: 25px;        
        margin-left: 30px;
    }
    .photo{
        border-radius: 50%;
    } 
/*ABOUT ME*/
.container-about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.container-about p{
    font-size: 1.5rem;
    margin: 10px;
    text-align: justify;
    width: 85%;
}
.container-about li{
    font-size: 1.5rem;
    margin: 15px;
}
.container-about h2{
    font-size: 4rem;
    margin-top: 30px;
}
.container-about  h5{
    font-size: 3rem;
    margin: 30px;
}
.container-content p, ul{
    margin: 30px;
}
.container-titulo{
    display: flex;
    justify-content: center;

}
.container-about-photo img{
    width: 200px;
    border-radius: 50%;
}
.container-content{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
}
.container-head{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}
/*CONTACT INFO*/
.container-contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-items: center;
    width: 100vw;
}
.container-contact h2{
    margin : 20px;
    align-self: center;
    font-size: 4rem;
}
.container-contact  p{
    margin : 20px;
    font-size: 2rem;
}
.list-contact {
    display: flex;    
    flex-direction: column;
    font-size: 2rem;
}
.container-contact ul li{
    margin : 10px;
}
.img-linkeding{
    width: 35px;
}
.img-github{
    width: 35px;
}
.img-download {
    height: 35px;
    width: 35px;
}
/*
Medias queries
*/

@media only screen and (max-width: 1200px) {
    /* HOME */
    .container-home{
        margin: 2rem 5rem;        
    }
}
@media only screen and (max-width: 700px) {
    /* HOME */
    .container-home{
        margin: 1rem 1rem;        
    }
     .container-home p{
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 500px) {
    /* HOME */
    .container-home{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin: 1rem;
        margin-top: 30px;        
    }
    .container-home p{
        margin: 15px 30px;
        font-size: 14px;
    }
    .container-home img {
        width: 100px;
        height: 125px;
        border-radius: 50%;
        margin-top: 0px;
        margin-left: 20px;
    } 
    .container-photo {
        display:flex ;
        align-items: center;
    }

    /* ABOUT ME */
    .container-head {
        display: flex;
        width: 80%;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 0px;
    }
    .container-content ul{
        margin: 20px;
        
    }
    .container-about p  {
        font-size: 12px;        
    }
    .container-about li {
        font-size: 12px;        
    }
    .container-about h5 {
        font-size: 1rem;
        margin: 10px 30px;
    }
    .container-about h2  {
        margin-top:  10px;
    }
    .container-titulo{
        margin: 10px 25px;
    }

    /*CONTACT INFO*/
    .container-contact h2{
        font-size: 2rem;
    }
    .container-contact  p{
        font-size: 1rem;
    }
    .list-contact {
        font-size: 1rem;
    }
}