div.container-navbar{
    display: flex;
    width: 100vw;
    background-color: aquamarine;
    color: black;
    padding: 2px 20px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
nav {
    display: flex;
}
header{
    width: calc(100% - 60px);
}
header > div nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
  }
  header > div nav li {
    display: flex;
  }
  header > div nav ul li a {
    padding: 5px 20px;
    text-decoration: none;
    color: black;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 800;
  }